/* шрифты */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

/* переменные */
:root {
	--my-dark: #242424;
	--my-gold: #c5a781;
	--my-silver: #ababab;
	--my-gray: #eee;
	--my-body-font-family: 'Fira Mono', monospace;
}

/* выделение текста */
::selection {
	color: #f7f7f7;
	background-color: #222;
}

body {
	font-family: var(--my-body-font-family);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Mono', monospace;
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: var(--my-gold);
	text-decoration: underline;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.h1 a:hover, 
.h2 a:hover, 
.h3 a:hover, 
.h4 a:hover, 
.h5 a:hover, 
.h6 a:hover, 
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {
	color: var(--my-silver);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

a {
	color: var(--my-dark);
	text-decoration: underline;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

a:hover {
	color: var(--my-silver);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}