<div id="home" style="columns: 3; column-gap: 5em">
	<div v-for="(items, category) in links" :key="category" id="category">
		<h2>{{ category }}</h2>
		<ul class="list-reset">
			<li v-for="item in items" :key="index"><img :src="strFavIconsURL + item.url" /> <a :href="item.url" class="font-medium text-gray-950">{{ item.title }}</a> - {{ item.description }}</li>
		</ul>
	</div>
</div>

<script>
	// prettier-ignore
	Vue.createApp({
		data() {
			return {
				message: 'Полезные ссылки',
				strFavIconsURL: 'https://www.google.com/s2/favicons?domain=',
				links: {
					'Документация': [
						{ url: 'https://developer.mozilla.org/en-US/docs/Web/HTML', title: 'HTML Mozilla', description: 'HTML от mozilla.org' },
						{ url: 'https://developer.mozilla.org/en-US/docs/Web/CSS', title: 'CSS Mozilla', description: 'CSS от mozilla.org' },
						{ url: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript', title: 'JavaScript Mozilla', description: 'JavaScript от mozilla.org' },
						{ url: 'https://www.w3schools.com/tags/default.asp', title: 'HTML W3Schools', description: 'HTML от w3schools.com' },
						{ url: 'https://www.w3schools.com/cssref/index.php', title: 'CSS W3Schools', description: 'CSS от w3schools.com' },
						{ url: 'https://www.w3schools.com/js/default.asp', title: 'JavaScript W3Schools', description: 'JavaScript от w3schools.com' },
						{ url: 'http://htmlbook.ru/html', title: 'HTML htmlbook', description: 'HTML от htmlbook.ru' },
						{ url: 'http://htmlbook.ru/css', title: 'CSS htmlbook', description: 'CSS от htmlbook.ru' },
						{ url: 'https://www.markdownguide.org/cheat-sheet/', title: 'Markdown', description: 'Markdown от markdownguide.org' },
					],
					'CSS фреймворки': [
						{ url: 'https://getbootstrap.com/', title: 'Bootstrap', description: 'HTML, CSS и JS фреймворк' },
						{ url: 'https://tailwindcss.com/', title: 'Tailwind CSS', description: 'CSS фреймворк (независимый от стиля)' },
						{ url: 'https://get.foundation/sites.html', title: 'Foundation for Sites', description: 'HTML, CSS и JS фреймворк' },
						{ url: 'https://get.foundation/emails.html', title: 'Foundation for Emails', description: 'фреймворк для верстки Email' },
						{ url: 'https://bulma.io/', title: 'Bulma', description: 'CSS фреймворк' },
						{ url: 'http://getskeleton.com/', title: 'Skeleton', description: 'простой CSS фреймворк' },
					],
					'JavaScript фреймворки': [
						{ url: 'https://ua.vuejs.org/', title: 'Vue.js', description: 'JS фреймворк' },
						{ url: 'https://alpinejs.dev/', title: 'Alpine.js', description: 'простой и легкий JS фреймворк, похож на Vue.js' },
					],
					'Другое': [
						{ url: 'https://adam-marsden.co.uk/css-cheat-sheet', title: 'CSS Cheat Sheet', description: 'шпаргалка по CSS' },
					],
				},
			};
		},
	}).mount('#home');
</script>

<style>
	:root {
		--content-max-width: 100%;
	}

	#category {
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		-moz-page-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
	}
</style>
