-
	let arrContacts = [
		{icon: 'fa fa-home', title: 'Kyiv, Ukraine', url: 'https://www.google.com/maps/@50.4289255,30.5074862,14z'},
		{icon: 'fa fa-envelope', title: `&#115;&#101;&#114;&#103;&#101;&#121;&#46;&#118;&#97;&#114;&#101;&#110;&#121;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;`, url: '&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#101;&#114;&#103;&#101;&#121;&#46;&#118;&#97;&#114;&#101;&#110;&#121;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'},
		{icon: 'fa-brands fa-facebook-square', title: 'Facebook', url: 'https://www.facebook.com/Sergey.Varenia'},
		{icon: 'fa-brands fa-instagram', title: 'Instagram', url: 'https://www.instagram.com/s.varenia/'},
	]

div(class="mb-10 md:mb-24")
	div(class="mx-auto px-4 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl")
		//- заголовок раздела
		div(class="flex flex-col gap-10")
			div(class="text-center")
				h4(x-text="$t('contact.subTitle')" class="inline-block px-1.5 mb-4 bg-brown-400 text-base text-white")
				h2(x-text="$t('contact.title')" class="text-3xl md:text-5xl font-bold")

			ul(x-data class="flex flex-col gap-4 mx-auto text-left")
				each item, index in arrContacts
					li(class="text-xl")
						i(class=`${item.icon} w-8`)
						if index == 0
							a(x-text="$t('contacts.city')" href!=item.url target="_blank")
						else
							a(href!=item.url target="_blank") !{item.title}